.raw.clearfix
  section.col-12.col-md-4.profile
    h1 Profile
    != partial("_profile")
  section.col-12.col-md-6.works
    h1 Works
    != partial("_works")
  section.col-12.col-md-2.links
    h1 Links
    != partial("_links")
