body {
  padding: 0 1em;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.9em;
}

header {
  padding: 100px 0;
}

header h1 {
  font-weight: lighter;
  font-size: 3em;
  text-transform: uppercase;
  line-height: 1;
}

header h1 a {
  color: inherit;
}

header h1 a:hover {
  text-decoration: none;
}

main section {
  margin-bottom: 1.2em;
}

main section h2 {
  margin-top: 0;
}

main section table.table {
  width: 95%;
  border: none;
}

main section table.table ul {
  margin-bottom: 0;
}

footer {
  margin-bottom: 1em;
  text-align: center;
}

#y13i section {
  padding: 0;
}

#y13i th {
  font-weight: normal;
}

#y13i th,
#y13i td {
  border: none;
}

#y13i ul {
  padding-left: 0;
  list-style-type: none;
}
